{
    "env": {
        "browser": true
    },
    "rules": {
        // Abrograte our omision set-up for this catalogue
        "eqeqeq": "warn",
        "strict": "off",
        "import/no-extraneous-dependencies": "off",
        "import/prefer-default-export": "off",
        "no-underscore-dangle": "off",
        "no-restricted-globals": "off"
    }
}